{% import 'template/macro/form.twig' as form %}
{% extends "template/base.twig" %}
{% block jsapp %}
    <script src="{{ siteUrlWithVersion('js/app/usuario.js') }}"></script>
    <script>
        Usuario.PasswordView();
    </script>
{% endblock %}

{% block content %}
    <h1>Cambiar la contraseña de {{ data.usuario }}</h1>
    <div class="alert alert-danger" role="alert" id="mensaje" style="display: none"></div>
    <form class="form" id="form" action="{{ urlFor('Usuario:savePassword') }}" method="post">
        <input type="hidden" name="id" value="{{ data.id }}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group required col-sm-6">
                        {{ form.label('password', 'Nueva contraseña', { class: 'control-label' }) }}
                        {{ form.password('password', null, { class: 'form-control', autocomplete: 'off', required: '', autofocus:'' }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-6">
                        {{ form.label('repeticion', 'Repetir nueva contraseña', { class: 'control-label' }) }}
                        {{ form.password('repeticion', null, { class: 'form-control', autocomplete: 'off', required: '' }) }}
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok" style="margin-right: 5px;"></i>Cambiar</button>
        <a href="#" onclick="history.back();" style="margin-left: 10px;">Cancelar</a>
    </form>
{% endblock %}
