{% import 'template/macro/form.twig' as form %}
{% extends "template/base.twig" %}

{% block jsapp %}
    <script src="{{ siteUrlWithVersion('js/app/lp.js') }}"></script>
    <script>
        LP.GenerarView();
    </script>
{% endblock %}

{% block content %}
    <h1>Generar lista de precios</h1>

    <div class="alert alert-danger" role="alert" id="error-message"></div>

    <form id="form" class="form" action="{{ urlFor('LP:generar', { id: lp.id }) }}" method="post" autocomplete="off">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="form-group required col-md-12">
                        {{ form.label('plantilla', 'Plantilla', { class: 'control-label' }) }}
                        {{ form.text('plantilla', lp.descripcion, { class: 'form-control fecha', disabled: '' }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-md-4">
                        {{ form.label('fecha', 'Fecha', { class: 'control-label' }) }}
                        <div class="input-group">
                            {{ form.text('fecha', 'now'|date('d/m/Y'), { class: 'form-control fecha', required: '' }) }}
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-md-4">
                        {{ form.label('numero', 'Número', { class: 'control-label' }) }}
                        {{ form.text('numero', null, { class: 'form-control', required: '', autofocus:'' }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-md-4">
                        {{ form.label('modelo-id', 'Modelo', { class: 'control-label' }) }}
                        {{ form.select('modelo-id', modelos, lp.lp_modelo_id, { class: 'form-control', required: '' }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        {{ form.label('cambios', 'Cambios realizados', { class: 'control-label' }) }}
                        {{ form.textarea('cambios', null, { class: 'form-control' }) }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button id="boton-generar" type="submit" class="btn btn-success" style="margin-right: 15px;"><i class="glyphicon glyphicon-flash"></i> Generar</button>
                <a href="{{ urlFor('LP:index') }}">Volver al listado</a>
            </div>
        </div>
    </form>
{% endblock %}
