<h3>Listas de precios</h2>
<div class="row">
    <div class="form-group col-md-12">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-documento" data-backdrop="static" data-keyboard="false">Nuevo</button>
        </div>
    </div>
</div>
<table class="table table-bordered table-hover" id="tabla-documento">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Aumento</th>
            <th>Archivo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {% for ln in documentos %}
            <tr>
                <td class="text-right">{{ ln.fecha|date('d/m/y') }}</td>
                <td class="text-right">{{ ln.aumento|number_format(2, ',', '.') }}</td>
                <td><a href="{{ urlFor('Proveedor:downloadDocumento', { id: ln.id }) }}">{{ ln.nombre }}</a></td>
                <td>
                    <a href="{{ urlFor('Proveedor:deleteDocumento', { id: ln.id }) }}" class="btn btn-danger eliminar-documento"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Sin documentos</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
