{% import "template/macro/form.twig" as form %}
{% extends "template/base.twig" %}

{% block jsapp %}
    <script src="{{ siteUrlWithVersion('js/app/recepcion.js') }}"></script>
    <script src="{{ siteUrlWithVersion('js/app/modal.js') }}"></script>
    <script>
        Recepcion.FormView();
    </script>
{% endblock %}

{% block content %}
<h1>Nueva recepción</h1>
<div class="alert alert-danger" role="alert" id="mensaje" style="display:none"></div>
<form id="form" action="{{ urlFor('Recepcion:save') }}" method="post">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        {{ form.label('proveedor', 'Proveedor', { class: 'control-label' }) }}
                        <select id="proveedor" name="proveedor" class="form-control">
                            <option></option>
                            {% for proveedor in proveedores %}
                                <option value="{{ proveedor.id }}">({{ proveedor.codigo }}) {{ proveedor.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="info"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12 required">
                            {{ form.label('deposito', 'Deposito', { class: 'control-label' }) }}
                            {{ form.select('deposito', depositos, null, { class: 'form-control', required: '' }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            {{ form.label('comprobante-tipo', 'Comprobante', { class: 'control-label' }) }}
                            {{ form.select('comprobante-tipo', comprobantes, null, { class: 'form-control' }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            {{ form.label('comprobante-fecha', 'Fecha', { class: 'control-label' }) }}
                            <div class="input-group">
                                {{ form.text('comprobante-fecha', null, { class:'form-control fecha' }) }}
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            {{ form.label('comprobante-numero', 'Número', { class: 'control-label' }) }}
                            {{ form.text('comprobante-numero', null, { class: 'form-control' }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="lineas" class="table">
                            <thead>
                                <tr>
                                    <th width="100px">Código</th>
                                    <th>Descripción</th>
                                    <th width="100px">Cantidad</th>
                                    <th width="100px">Precio</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <td width="130px">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="codigo" placeholder="Buscar">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button" id="btn-buscar-articulo"><i class="glyphicon glyphicon-search"></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td colspan="3"></td>
                                </tr>
                            </tbody>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <button id="btn-ok" type="submit" class="btn btn-success" style="margin-right: 15px;"><i class="glyphicon glyphicon-ok"></i> Guardar</button>
            <a href="#" onclick="history.back();">Cancelar</a>
        </div>
    </div>
</form>
{% endblock %}
